<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-6 show_follow_left">
    <div>
      <%= render 'shared/user_info' %>
    </div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <h3 style="margin-bottom: 16px;"><%= @title %></h3>
    <% if @users.any? %>
      <ul class="user_ls">
        <%= render 'user_list' %>
      </ul>
    <% end %>
  </div>
</div>
