<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      フォロワー<%= @user.followers.count %>人
    </strong>
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>人をフォロー中
    </strong>
  </a>
</div>
