@import "bootstrap-sprockets";
@import "bootstrap";

// universal

body {
  padding-top: 140px;
  background: #f5f5f5;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
  li { list-style: none; }
  p { margin: 0; }
}

#logo {
  font-family: "Savoye LET";
  padding-top: 4px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

// header

header {
  height: 72px;
  background: #fff;
  padding-top: 8px;
  border-bottom: 1px solid #ccc !important;
  #logo {
    float: left;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
}

// footer

footer {
  margin-left: 50px;
  a {
    color: #888;
    font-size: 18px;
    font-weight: bold;
  }
}

// miscellaneous

.debug_dump {
  margin-top: 45px;
  background: #fff;
}

// forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  span {
    margin-left: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// microposts

.timestamp {
  display: block;
}

// sidebar

.stats {
  a {
    float: left;
    padding: 0 40px;
    font-size: 16px;
  }
}

.user_image {
  border-radius: 50%;
  border: 1px solid #bbb;
}

.user_info {
  display: flex;
}

.home_user_info {
  align-items: center;
  margin-bottom: 14px;
  img {
    width: 60px;
    margin-right: 20px;
  }
}

.show_user_info {
  width: 80%;
  margin: auto;
  img {
    width: 150px;
    margin: 0 60px;
  }
}

// microposts

.micropost {
  margin-bottom: 30px;
  background: #fff;
  width: 600px;
  border: 1px solid #ddd;
  .user_image {
    width: 40px;
  }
  .micropost_user_info {
    img {
      margin-right: 12px;
    }
    align-items: center;
    padding: 12px;
  }
}

.mini_microposts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5.3vw;
  img {
    width: 30%;
    margin: 1.6%;
  }
}
